!!!5
html
    head
        meta(charset="utf-8")
        title 响应式设计
        meta(name="description",content="响应式设计")
        meta(name="keywords",content="响应式设计 ppt")
        link(rel="stylesheet",href="css/webslide.css")
        link(rel="stylesheet",href="css/sons-of-obsidian.css")
        base(target="_blank")
        style
            .cream{
                background-color:#FFFFCC
            }
            .orange{
                background-color:#FF6600
            }
            .green{
                background-color:#99CC00
            }
            table {
              width: 100%;
              padding: 0;
              margin: 0;
              font-size: 20px;
            }
            table thead th {
              color: #000;
              border: 1px solid #000;
              letter-spacing: 2px;
              text-align: center;
              padding: 6px 6px 6px 12px;
            }
            table tbody td {
              border: 1px solid #000;
              padding: 6px 6px 6px 12px;
              text-align: center;
              color: #000;
            }
            .table-wrapper{
                position: absolute;
                top: 50%;
                height: 390px;
                margin-top: -195px;
                width:900px;
            }
    body   
        #slide
            .slides
                section#cover.step
                    section.title
                        h1 响应式设计
                        h2 B2B - 沈剑平
                section#slide2.step.slide.rebuild
                    h1 分享主题
                    ul(data-build)
                        li 什么是响应式设计
                        li 响应式设计的要点
                        li 咬了一口的苹果
                        li 还差了点什么？
                        li 响应式设计是万金油么？
                section#slide3.step.slide.rebuild
                    h1 什么是响应式设计
                    ul(data-build)
                        li 背景:移动互联网高速发展，各种设备层出不穷，iPhone、ipad、黑莓、kindle...在各种设备上，因为分辨率不同，访问传统网站，达不到良好的用户体验。
                        li 定义:一套解决方案，适合各种分辨率的设备，可以适合所有用户访问。
                section#slide4.step.slide.rebuild
                    h1 旺仔题
                    ul
                        li 举3个使用响应式设计的网站
                section#slide5.step.slide.rebuild
                    h1 响应式设计的要点
                    ul(data-build)
                        li CSS3 媒体查询
                        li 灵活的布局
                        li 弹性的媒体
                section#slide6.step.slide
                    h1 CSS3 媒体查询
                section#slide7.step.slide.rebuild
                    h1 旺仔题
                    ul
                        li 举3个HTML4的媒体查询关键字
                section#slide8.step.slide.rebuild
                    h1 HTML4的媒体查询
                    div(data-build) 
                        ul 关键字
                            li screen
                            li print
                            li handheld
                            li tv
                            li braille
                            li projection
                section#slide9.step.slide.rebuild
                    h2 HTML5的媒体查询
                    div(data-build) 
                        ul 关键字
                            li width(max/min)
                            li height(max/min)
                            li device-width(max/min)
                            li device-height(max/min)
                            li ……
                    div(data-build) 
                        ul 逻辑运算符
                            li and
                            li not
                            li only
                            li ,(or)
                section#slide10.step.slide.rebuild
                    h2 例子
                    div(data-build)
                        pre.lang-css.
                            /*只在普通屏幕下,并且,宽度小于959px*/
                            @media only screen and (max-width: 959px) {}
                        pre.lang-css.
                            /*宽度小于959px,或,高度小于800px*/
                            @media (max-width: 959px),(max-height:800px) {}
                section#slide11.step.slide.rebuild
                    h1 灵活的布局
                    br
                    ul 两种不同类型
                        li 类流体布局
                        li 栅格布局
                section#slide12.step.slide.rebuild
                    h1 类流体布局
                    br
                    div 与流体布局一样，使用相对长度，通常是百分比或是em
                    div(data-build) 
                        div 代码
                            pre.lang-css.
                                .row-fluid {
                                    width: 100%;
                                }
                                .row-fluid .span3 {
                                    font-size: 1.125em;
                                }
                    div(data-build)
                        div 但在过宽过长时，需要专门针对某些布局结构进行样式覆写
                    div(data-build) 
                        div 典型：
                            a(href="http://twitter.github.com/bootstrap/examples/fluid.html") Bootstrap fluid
                section#slide13.step.slide.rebuild
                    h1 固定布局
                    br
                    div 使用媒体查询，根据分辨率修改布局
                section#slide14.step.slide.rebuild
                    div 常用设备分辨率
                    img(src="img/breakpoints.jpg",style="width: 35%;height: 85%;")
                section#slide15.step.slide.rebuild
                    div 使用媒体查询，根据分辨率修改布局
                    div(data-build) 
                        div 代码:
                        pre.lang-css.
                            /* 正常PC液晶屏样式 */
                            /* iPad 及以下，以及所有小于（不等于）960宽度的平板电脑 */
                            @media only screen and (max-width: 959px) {}
                            /* 仅iPad 竖版，以及所有小于（不等于）标准960宽度的平板电脑的竖版 */
                            @media only screen and (min-width: 768px) and (max-width: 959px) {}
                            /* iPhone 及以下 */
                            @media only screen and (max-width: 767px) {}
                            /* 仅iPhone 横版，包括某些平板电脑的竖版 */
                            @media only screen and (min-width: 480px) and (max-width: 767px) {}
                            /* 仅iphone4 竖版 */
                            @media only screen and (max-width: 479px) {}
                    div(data-build) 
                        div 典型：
                            a(href="http://www.etao.com/?tbpm=t") 一淘
                section#slide16.step.slide.rebuild
                    h1 弹性的媒体
                    br
                    div 使用百分比设置img、video、canvas的宽度
                    div(data-build) 
                        div 代码:
                            pre.lang-css.
                                img, video, canvas {
                                  max-width: 100%;
                                }
                    div(data-build) 
                        div 典型：
                            a(href="http://d.alistapart.com/responsive-web-design/ex/ex-site-flexible.html") 流体图片
                section#slide15.step.slide.rebuild
                    h1 流体图片造成的问题
                    br
                    div 如果使用大图片，在小尺寸设备上显示浪费带宽
                section#slide16.step.slide.rebuild
                    h1 解决方案：断点图片
                    br
                    div(data-build)
                        div 代码:
                        pre.lang-css.
                            /* 正常PC液晶屏样式 */
                            //图片1
                            /* iPad 及以下，以及所有小于（不等于）960宽度的平板电脑 */
                            @media only screen and (max-width: 959px) {
                            //图片2
                            }
                            /* 仅iPad 竖版，以及所有小于（不等于）标准960宽度的平板电脑的竖版 */
                            @media only screen and (min-width: 768px) and (max-width: 959px) {
                            //图片3
                            }
                            ……
                section#slide17.step.slide.rebuild
                    h1 咬了一口的苹果
                    div(data-build)
                    ul Apple的视网膜屏(Retina)
                    ul 带来的问题
                        li img图片模糊
                section#slide18.step.slide.rebuild
                    h1 还差了点什么？
                    ul 
                        li 有了面子，还要里子
                        li 优化手持设备的交互
                section#slide19.step.slide.rebuild
                    h1 旺仔题
                    ul
                        li 在移动设备上浏览首页，会碰到的交互问题
                section#slide20.step.slide.rebuild
                    h1 解决途径
                    ul
                        li 去除hover交互
                section#slide18.step.slide.rebuild
                    h1 响应式设计是万金油么？
                    ul 
                section#slide10.step.slide
                    section.title
                        h2 Q & A
            .progress
                span
        canvas#myCanvas(width="100%",height="100%") 您的浏览器不支持HTML5,请升级或更换您的浏览器,强烈推荐您使用chrome浏览器。
        menu#slideCtrl.controls
            span.tool.home(nclick="location.hash='#cover'") !
            span.tool.paint p
            span.tool.clearIt d
        script(src="js/jquery-1.7.2.js")
        script(src="js/webslide.js")
        script(src="js/google-code-prettify/prettify.js")
        script(src="js/google-code-prettify/lang-css.js")
        script
            jQuery(function(){
               //给pre段落增加class，并调用初始化方法
                $("pre").each(function(index,item){
                   $(item).addClass("prettyprint").addClass("linenums");
                });
                prettyPrint();
            })


