!!!5
html
    head
        meta(charset="utf-8")
        title
        meta(name="description",content="")
        meta(name="keywords",content="")
        style
            #js-container,#flash-container{
                width:600px;
                margin:0 auto;
            }
    body
        #js-container(style="width: 600px; height: 300px")
        #flash-container(style="width: 600px; height: 300px")
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
        script(src="http://highcharts.com//js/highcharts.js")
        script(src="http://sjpsega.github.com/beechart/js/beechart/flash.js")
        script
            $(function () {
                var chart;
                $(document).ready(function() {
                    chart = new Highcharts.Chart({
                        chart: {
                            renderTo: 'js-container',
                            type: 'spline'
                        },
                        title: {
                            text: ''
                        },
                        xAxis: {
                            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                        },
                        yAxis: {
                            title: {
                                text: ''
                            }
                        },
                        tooltip: {
                            shared: true,
                            crosshairs: true
                        },
                        
                        series: [{
                            name: 'Tokyo',
                            data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
                        }, {
                            name: 'London',
                            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
                        }]
                    });
                });
                
                var flashdata = {
                    data:{
                        indexAxis:{
                            name:"月份",
                            labels:["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
                        },
                        valueAxis:{
                            name:"温度",
                            unit:"度"
                        },
                        dataSets:[
                            {
                                name:"Tokyo",
                                values:[7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
                            },
                            {
                               name: 'London',
                               values: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
                            }
                        ]
                    }
                };
                var cssdata = "chart {\
                    colors          : #1b75d2,#5f9618,#eead23,#b3351b,#ff862e,#925100;\
                    smooth          : true;\
                    leftAxisVisibility: visible;\
                }\
                line {\
                    dropshadow      : none;\
                    lineMethod      : curve;\
                    thickness       : 3;\
                    fillType        : none;\
                }\
                line dot {\
                    color           : inherit#color;\
                    borderColor     : inherit#color;\
                    borderThickness : 2;\
                    shape           : circle;\
                    radius          : 3;\
                    color.hl        : inherit#color;\
                    borderColor.hl  : #FFFFFF;\
                    radius.hl       : 5;\
                    dropShadow.hl   : light;\
                }\
                xAxis {\
                    lineColor       : #666666;\
                }\
                xAxis label {\
                    padding         : 5;\
                    color           : #666666;\
                }\
                yAxis {\
                    lineColor       : #666666;\
                    lineThickness   : 3;\
                    tickThickness   : 0;\
                    labelGap        : auto;\
                }\
                canvas {\
                    backgroundColor : #FFFFFF;\
                    priLineThickness: 1;\
                    priLineColor    : #F2F2F2;\
                    priLineAlpha    : 1;\
                }\
                guideLine {\
                    color           : #BBBBBB;\
                }\
                legend {\
                    position        : bottom;\
                    align           : center\
                }\
                legend item label {\
                    color           : inherit;\
                }\
                tooltip{\
                    backgroundType  :simple;\
                }";
                $('#flash-container').flash({ 
                   swf        : 'http://sjpsega.github.com/beechart/swf/beechart-line.swf',
                   width      : 600, 
                   height     : 300, 
                   allowScriptAccess:"always",
                   flashvars  : { 
                        data:JSON.stringify(flashdata),
                        css:cssdata,
                        debug:true,
                        w:550,
                        h:235,
                   } 
                }); 
            });

