!!!5
html
    head
        meta(charset="utf-8")
        title media link test
        meta(name="description",content="media link test")
        meta(name="keywords",content="test")
        link(rel="stylesheet",href="css/test1.css")
        link(rel="stylesheet",media="screen and (max-width: 500px)",href="css/test2.css")
        style
    body
        .test
        

